@charset "UTF-8";
/* CSS Document */


.container{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}



.container.nav-align{
	
	
	
	padding: 0em;
	float: right;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}	
	
	
	

navbar.navbar-default.navbar-fixed-top.navbar-custom{
	
	height: 5%;
	}




.dropdown-toggle:active, .open .dropdown-toggle{

background: #3E3935 !important; 
color:#fff !important;
}

.navbar-default .navbar-toggle {
    border-color: #fff;
}

.navbar-default .navbar-toggle .icon-bar{
    background-color: #fff;
	
}


.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 10px;
}


.dropdown-menu>li>a {
    display: block;
    padding: 1.01em;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}


ul.dropdown-menu{
	
	background-color: #3E3935;
	margin: 0em;
	padding: 0em 0em;

	
	}



li.dropdodwn-menu{
	
	color: #fff;
	
	
	}

ul.dropdown-menu a:hover{
	
	background-image: none;
	background-color: #ff3333;

	
	}
	
	
ul.nav a:hover { 

	color: #fff !important;
}
	

ul.nav a {
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 0em;
    font-size: .85em;
}




.navbar-header{
	
	overflow:hidden;
	
	
	}


.navbar-brand{
	margin-top: -.4em;
	position: absolute;
	left: 0;
    text-align: center;
	padding: .5em 1.5em;
	
	}
	
	a.navbar-brand img {
    width: 130px;
    padding: .15em;
    padding-top: .35em;
}
	
.navbar-toggle {
    z-index:3;
}	
	


	
	

.navbar-default{
	
	background-color: #ff3333;
	background-image: none;
	background-repeat: no-repeat;
	height:7%;
	
	
	}
	
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #fff;
    background-color: #3e3935;
}

	
	
.dropdown-menu{
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #3e3935;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}	
	
ul.nav.navbar-nav a{
	
	color: white;
	
	
	}	
	
ul.nav.navbar-nav a:hover{
	
	color: #ffcccc;
	
	
	}	
	
	
	
	
	.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
	text-align: right;
    padding-left: 10em;
}






@media (max-width: 767px){
.navbar-default .navbar-nav .open .dropdown-menu>li>a {
    color: #fff;
}





}



@media (max-width: 768px){
	
	

	a.navbar-brand img{
		
		margin: 1em;
		position: absolute;
		top: -.5em;
		left: -.5em;
		}
	
	
	
a.navbar-brand img{
	

	
	}
	
.navbar-collapse {
    background-image: none;

	
	
	}	
		
		
			
}	





@media (max-width: 768px){

.navbar-collapse{
	
	background-image: none;
	background-color: #ff3333;
	
	
	
	}
	

}




@media (max-width: 480px){



a.navbar-brand img{
		
		margin: 1em;
		position: absolute;
		top: -.5em;
		left: -.5em;
		}
	
	
	
a.navbar-brand img{
	
	
	
	}
		
}
