﻿@charset "utf-8";
/* CSS Document */



::-moz-selection { /* Code for Firefox */
    color: #fff;
    background: #ff3333;
}

::selection {
    color: #fff;
    background: #ff3333;
}


.btn {
    padding: 7px 24px;
    border: 0 none;
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
    border-radius: 2.5em;
}

    .btn:focus, .btn:active:focus, .btn.active:focus {
        outline: 0 none;
    }

.btn-primary {
    background: #ff3333;
    color: #ffffff;
}

    .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
        background: #33a6cc;
    }

    .btn-primary:active, .btn-primary.active {
        background: #007299;
        box-shadow: none;
    }



.navbar.navbar-default.navbar-fixed-top.navbar-custom {
    height: 5%;
}




.dropdown-toggle:active, .open .dropdown-toggle {
    background: #3E3935 !important;
    color: #fff !important;
}

.navbar-default .navbar-toggle {
    border-color: #fff;
}

    .navbar-default .navbar-toggle .icon-bar {
        background-color: #fff;
    }


.dropdown-menu > li > a {
    display: block;
    padding: 1.01em;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}


ul.dropdown-menu {
    background-color: #3E3935;
    margin: 0em;
    padding: 0em 0em;
}



li.dropdodwn-menu {
    color: #fff;
}

ul.dropdown-menu a:hover {
    background-image: none;
    background-color: #ff3333;
}


ul.nav a:hover {
    color: #fff !important;
}


ul.nav a {
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: .01em;
}





.navbar-header {
    overflow: hidden;
}


.navbar-brand {
    margin-top: -.4em;
    position: absolute;
    left: 0;
    text-align: center;
    padding: .5em 1.5em;
}

a.navbar-brand img {
    width: 140px;
    padding: .15em;
}

.navbar-toggle {
    z-index: 3;
}






.navbar-default {
    background-color: #ff3333;
    background-image: none;
    background-repeat: no-repeat;
    height: 7%;
}

    .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
        color: #fff;
        background-color: #3e3935;
    }



.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #3e3935;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

ul.nav.navbar-nav a {
    color: white;
}

    ul.nav.navbar-nav a:hover {
        color: #ffcccc;
    }




.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    text-align: left;
    padding-left: 7em;
}


form {
    text-align: left;
}


/*=======================MOBILE======================*/



i.fa.fa-angle-down.fa-2x {
    /*
    -webkit-animation: bounce 2s infinite ease-in-out;*/
}

@-webkit-keyframes bounce {
    0%, 20%, 60%, 100% {
        -webkit-transform: translateY(0);
    }

    40% {
        -webkit-transform: translateY(-20px);
    }

    80% {
        -webkit-transform: translateY(-10px);
    }
}



.col-md-12.see-how {
    width: 100%;
    position: absolute;
    bottom: 0em;
    left: 0em;
}




.hero p {
    margin: 0em auto;
    margin-top: 5em;
}




h1 {
    font-size: 3em;
    font-weight: 400;
    text-align: center;
}

h2 {
    text-align: center;
}





h4 {
    font-weight: 100;
    font-size: 1.35em;
    letter-spacing: .35em;
}



p {
    font-weight: 300;
    text-align: left;
    color: white;
}



#section0 {
    background-image: url(../images/hero-nr-home-3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font-size: 2em;
    font-weight: 300;
    line-height: 1.4;
}


#section2 {
    background-image: url(../images/case-study-lifestyle-megafood-3.jpg);
    background-size: cover;
    background-position: 50% 0%;
    background-repeat: no-repeat;
    color: #000;
    font-size: 1.5em;
    font-weight: 300;
    line-height: 1.4;
}



#section3 {
    background-image: url(../images/case-study-lifestyle-leatherman-3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0%;
    color: #000;
    font-size: 1.5em;
    font-weight: 300;
    line-height: 1.4;
}



#section4 {
    background-image: url(../images/index-lifestyle-strider-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 25% 0%;
    color: #000;
    font-size: 1.5em;
    font-weight: 300;
    line-height: 1.4;
}



#section6 {
    background-color: #686868;
    padding: 1em;
}

#section7 {
}






.container {
    padding-bottom: 3em;
}


.light-copy {
    color: #fff;
    padding: 0px 10%;
    text-align: left;
    clear: both;
}




a.btn.btn-primary.btn-sm {
    margin-top: 2em;
}












.hero {
}



    .hero h1 {
        color: #fff;
        font-size: 1.5em;
        font-weight: 700;
        text-transform: inherit;
    }


    .hero h3 {
        font-size: 1.5em;
        text-transform: inherit;
        font-weight: 700;
        color: #fff;
        padding: 0em;
        margin: 0em;
    }


h1.subcat-header {
    color: #fff;
    font-size: 2.5em;
}


.hero p {
    font-size: .5em;
    text-align: center;
    color: #fff;
    padding: 1em 3em 0em 3em;
}





.row.initiatives {
    padding: 0em;
}



.jumbotron-hero-copy {
    position: relative;
    top: -100px;
    left: 0px;
}


    .jumbotron-hero-copy h1 {
        padding-bottom: .5em;
        width: 100%;
    }

    .jumbotron-hero-copy.container {
        padding: 0em 10em;
    }

        .jumbotron-hero-copy.container h1 {
            color: #fff;
            width: 100%;
        }


        .jumbotron-hero-copy.container p {
            color: #fff;
            width: 100%;
        }





.jumbotron-hero.partnership.main {
    padding: 2em 2em;
    color: #000;
    margin: 0em auto;
}


.jumbotron-hero.partnership h1 {
    margin-top: 0em;
    margin-bottom: .5em;
}



.jumbotron-hero.partnership p {
    padding: 0em 5em;
    color: #000;
}


h1.col-md-12.light-copy {
    font-size: 2.5em;
    margin-top: 1em;
    text-align: left;
    padding: 0em 4em;
}


.partnership h1, .partnership p {
    color: #000;
    max-width: 1400px;
}



a.read-more {
    color: #fff;
    font-weight: 600;
    font-size: .75em;
}


.down-arrow {
    color: white;
}

p.talk a {
    color: white;
    padding: .5em;
    margin: 0em;
    font-size: 1.25em;
    font-weight: 400;
}

a.btn.btn-primary.btn-lg {
    margin: 0em 37%;
}

    a.btn.btn-primary.btn-lg.init {
        margin: 0em;
    }






p.btn.read-more {
    text-align: left;
}


p.init-button {
    text-align: center;
}

.init-graphic {
    width: 75%;
    padding: 0em;
    margin: 0px auto;
}

.init-hero-icon {
    width: 14%;
}


/*==============Initiative Block=================*/









h1.init-main {
    line-height: 1.25em;
    padding-top: .85em;
    font-size: 2.5em !important;
    padding-bottom: 1.5em;
}


.col-md-12.init-copy-all {
    padding-left: 5em;
    width: 60%;
}

.col-md-12.icon-header {
    width: 90%;
}

    .col-md-12.icon-header img {
        float: left;
        width: 48px;
        position: relative;
        top: 0em;
        left: 3.5em;
    }



    .col-md-12.icon-header h2 {
        color: #000;
        float: left;
        position: relative;
        top: .4em;
        left: 3.25em;
        font-size: 1.2em;
        font-weight: 600;
    }


.col-md-12.init-copy-all h1 {
    color: #000;
    text-align: left;
    clear: both;
    margin-top: .25em;
    margin-bottom: .25em;
    width: 60%;
}



.col-md-12.init-copy-all p {
    color: #000;
    font-size: 1.25em;
    line-height: 1.65em;
    width: 60%;
}



.col-md-12.init-content {
    padding: 0em;
    margin: 0em;
}


.init-footer p {
    width: 60%;
}


.init-footer {
    color: #fff;
    font-size: 1em;
    font-weight: 300;
    opacity: .85;
    padding: 2em 2.5em;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    left: 0em;
}

    .init-footer.bx {
        background-color: #ea7153;
    }


    .init-footer.cx {
        background-color: #393b47;
    }



    .init-footer.mi {
        background-color: #ae9075;
    }


    .init-footer p {
        width: 70%;
        float: left;
        font-size: .95em;
        padding-top: 1em;
    }


a.init-partner-logo img {
    width: 100%;
}

a.init-partner-logo.bobs img {
    width: 80%;
}

.col-xs-3 img {
    width: 100%;
    opacity: .25;
    margin: 1em 0em;
}

.partner-logo-footer {
    width: 22%;
    float: right;
}




.col-md-4.icon-header h2 {
    font-weight: 700;
    font-size: 1em;
    color: #ff3333;
    text-align: left;
}


.row.intiatives {
    padding: 0em;
}


.col-md-4.icon-header p {
    font-weight: 300;
    text-align: left;
    width: 100%;
    margin: 0em;
    padding: 0em;
    color: #000;
    font-size: 1.75em;
}


.col-md-8 img {
    width: 100%;
    padding: 1em 2em;
}




/*==============Initiative Block=================*/




.header-3 {
}

.icons-3 {
    float: left;
    padding-left: 1em;
}

    .icons-3 img {
        width: 40px;
    }




h2.init-header {
    text-align: left;
    color: white;
    position: relative;
    top: 9px;
    left: 5px;
}


.jumbotron-hero.brand-experience, jumbotron-hero.customer-experience, jumbotron-hero.marketplace-insight {
    max-width: 100%;
}


.jumbotron-hero.brand-experience {
}

/*-----------HERO GRAPHICS INITIATIVES------------*/

.brand-experience {
}

.customer-experience {
}


.marketplace-insight {
}




/*-----------HERO GRAPHICS INITIATIVES END------------*/


.expertise {
    font-weight: 200;
    font-size: 1em;
}




.col-md-4 {
    padding: 1em;
}


.init-columns {
    width: 33%;
    float: left;
    padding: 2em;
    margin-bottom: 1em;
    border-right: 1px solid silver;
}



    .init-columns.last-column {
        border-right: hidden;
    }


.init-category {
    text-align: center;
    padding: 1.5em;
    color: #666;
    text-transform: uppercase;
    letter-spacing: .15em;
}




.init-h2 {
    color: #666;
    font-weight: 400;
    font-size: 2em;
    text-transform: uppercase;
}

h2.three-headers {
    font-size: 1.35em;
    letter-spacing: .15em;
    font-weight: 300;
    color: #000;
    text-transform: uppercase;
}



.row h2 {
    font-size: 1.15em;
    text-transform: uppercase;
    color: #000;
}


h2.init-h2-main {
    font-weight: 400;
    font-size: 1.45em;
    text-transform: inherit;
}


.col-lg-12.init-diagram-lg img {
    display: none;
}




.row p img.icon {
    margin: 0px 37%;
}



p img.icon {
    width: 20%;
}



.center-icon {
    margin: 0px 38%;
}




p img.icon-sub {
    width: 30%;
    margin: 0px 33%;
    position: relative;
    top: .25em;
    left: 0em;
}

.center-icon-sub {
    margin: 0px 33%;
}


.contact-container h1 {
    color: #fff;
    font-size: 2.75em;
    font-weight: 300;
}


p.contact-p {
    font-weight: 300;
}

.contact-container p {
    color: #fff;
    font-size: 1.3em;
    width: 100%;
    padding-bottom: 2em;
}


.contact-section {
    background-color: #686868;
    padding-top: 2em;
}


.contact-p span {
    font-weight: 600;
}


span.phone-number {
    font-weight: 600;
    font-size: 1.45em;
}


span.city {
    font-weight: 600;
}



form {
    width: 85%;
    margin: 0em auto;
}







label {
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.25em;
    font-weight: 300;
    text-transform: uppercase;
}


footer {
    width: 100%;
    overflow: hidden;
    padding: 2em 1em;
    position: absolute;
    bottom: 0em;
    left: 0em;
    background-color: #3E3935;
}

h1.footer-header {
    font-size: 2.5em;
    font-weight: 300;
    color: #fff;
}


.careers {
    color: silver;
}


footer div p {
    text-align: left;
    color: silver;
    letter-spacing: .02em;
    font-size: .75em;
    line-height: 1.15em;
    font-weight: 100;
    text-transform: none;
    padding: 0em;
}


footer div h4 {
    letter-spacing: inherit;
    font-size: .85em;
    text-transform: uppercase;
    color: white;
    text-align: left;
}


footer-border h4 {
    font-size: 2em;
    color: white;
}

.footer-email {
    color: silver;
}


.footer-logo {
    width: 100px;
    padding: 0em;
    margin: 0em;
}


.footer-border {
    border-right: 1px silver solid;
}


    .footer-border.footer-border-right {
        border-right: 0px silver solid;
    }



.social img {
    width: 30px;
    float: left;
    margin: 0em 1%;
}

.social-list li {
    list-style-type: none;
    display: inline;
    margin: auto;
    float: none;
}


.icon-header-mobile {
    margin: 1em 0em;
}



    .icon-header-mobile img {
        width: 45px;
        padding: 0em;
        margin: 0em;
    }



    .icon-header-mobile h3 {
        font-weight: 600;
        font-size: 1.5em;
    }



    .icon-header-mobile p {
        width: 100%;
        padding: 0em 2em;
        font-size: 1em;
        color: #000;
        text-align: left;
    }



    .icon-header-mobile h3, .icon-header-mobile p {
        color: #000;
    }



/*=======================MOBILE END======================*/










@media (min-width: 768px) {







    .col-md-12.init-content {
        padding: 0em;
        margin: 0em;
    }


    .contact-container {
        width: 33%;
        float: left;
        padding: 2.5em;
        overflow: hidden;
    }


    .contact-section {
        clear: both;
        padding: 1em;
        overflow: hidden;
    }



        .contact-section h1 {
            color: white;
            font-weight: 100;
            font-size: 3.5em;
            text-align: left;
        }




    .contact-p {
        width: 100%;
        font-size: 1.5em;
        text-align: left;
        padding-bottom: 1em;
        border-bottom: none;
    }

    .contact-container p {
        text-align: left;
        padding: 0em;
    }


    .contact-container h1 {
        padding-left: 0em;
    }


    .diagram-wo {
        display: none;
    }
}


@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #fff;
    }
}










@media (max-width: 768px) {






    a.navbar-brand img {
        margin: 1em;
        position: absolute;
        top: -.5em;
        left: -.5em;
    }



    a.navbar-brand img {
    }

    .navbar-collapse {
        background-image: none;
    }





    .jumbotron-hero-copy.container {
        padding: 0em 5em;
    }





    .jumbotron-hero.partnership h1 {
        text-align: center;
        font-size: 2.35em;
        margin: 0em;
        padding: .5em 0em;
    }


    .jumbotron-hero.partnership {
        padding: 0em 1em;
        margin: 1em;
        margin-bottom: 2em;
    }





        .jumbotron-hero.partnership p {
            text-align: left;
            padding: 0em;
        }



    .jumbotron-hero {
        background-size: 100%;
    }


    .navbar-collapse {
        background-image: none;
        background-color: #ff3333;
    }



    .diagram {
        display: none;
    }




    .icons-3 {
        float: left;
        padding-left: 0em;
    }



    .contact-container h1 {
        color: #fff;
    }



    h1.col-md-12.light-copy {
        font-size: 2em;
        width: 95%;
        margin-top: 1em;
    }

    .contact-container {
        padding: 1.5em 4em;
    }

        .contact-container h1 {
            text-align: left;
            font-size: 3em;
        }

    p.contact-p {
        text-align: left;
    }




    .col-md-12.init-content {
        padding: 0em;
        margin: 1em;
    }






    img.init-graphic {
        display: none;
    }





    .col-md-12.icon-header {
        padding: 0em;
        margin: 0em;
    }



    .col-md-12.init-copy-all {
        width: 100%;
        margin: 0px auto;
        padding: 0em;
    }





        .col-md-12.init-copy-all h1 {
            color: #000;
            text-align: left;
            clear: both;
            font-size: 2em;
            width: 100%;
        }



        .col-md-12.init-copy-all p {
            color: #000;
            width: 100%;
        }


    a.init-partner-logo img {
        width: 100%;
    }



    .partner-logo-footer {
        width: 30%;
        float: right;
    }



    .init-columns {
        border-right: none;
    }



    .icon-header-mobile {
        text-align: left;
    }
}




@media (min-width: 1024px) {

    .col-md-12.init-content {
        padding: 0em;
        margin: 0em;
    }
}



.col-md-4.icon-header {
}




@media (max-width: 1024px) {
    .hero {
        padding: 0em 4em;
    }

        .hero h1 {
            color: #fff;
            font-size: 1.5em;
            font-weight: 700;
            text-transform: inherit;
        }


        .hero h3 {
            font-size: 1.5em;
            text-transform: inherit;
            font-weight: 700;
            color: #fff;
            padding: 0em;
            margin: 0em;
        }

        .hero p {
            font-size: .5em;
            text-align: center;
            color: #fff;
            padding: 1em 3em 0em 3em;
        }

    .icon-header-mobile p {
        width: 100%;
        padding: 0em 4em;
        font-size: 1em;
        color: #000;
        text-align: left;
    }

    a.btn.btn-primary.btn-lg {
        margin: 0em;
    }

    .jumbotron-hero-copy {
        position: relative;
        top: -100px;
        left: 0px;
    }

    .jumbotron-hero.partnership p {
        padding: 0em 3em;
        color: #000;
    }


    .jumbotron-hero-copy h1 {
        padding-bottom: .5em;
        width: 100%;
    }

    .jumbotron-hero-copy.container {
        padding: 0em 5em;
    }

        .jumbotron-hero-copy.container h1 {
            font-size: 2.15em;
            text-align: left;
            color: #fff;
            width: 100%;
            padding-top: 1.5em;
        }


        .jumbotron-hero-copy.container p {
            color: #fff;
            width: 100%;
        }

    .social img {
        width: 30px;
    }

    .col-md-12.init-copy-all {
        width: 75%;
    }

    .col-md-4.icon-header p {
        width: 100%;
    }
}



@media (min-width: 1200px) {

    .row.intiatives {
        padding: 3em 1em;
    }



    .col-md-12.init-content {
        padding: 0em;
        margin: 0em;
    }



    .col-md-4.icon-header {
        width: 100%;
    }


    .col-md-8.diagram img {
        width: 100%;
        display: none;
    }

    .col-lg-12.init-diagram-lg {
        max-width: 1600px;
        text-align: center;
    }


        .col-lg-12.init-diagram-lg img {
            display: inherit;
            padding: 0em 4em;
            width: 100%;
        }





    .brand-experience {
        background-size: cover;
        overflow: hidden;
    }

    .customer-experience {
        background-size: cover;
        overflow: hidden;
    }


    .marketplace-insight {
        background-size: cover;
        overflow: hidden;
    }



    .jumbotron-hero.partnership p {
        text-align: center;
        padding: 0em 6em;
    }


    .col-md-12.init-copy-all {
        width: 70%;
        max-width: 80%;
    }

    a.init-partner-logo.mf img {
        width: 80%;
        padding-left: 3em;
    }


    a.init-partner-logo img {
        width: 80%;
        padding-left: 2em;
    }


    .init-footer p {
        width: 70%;
        float: left;
        font-size: 1.25em;
    }

    .init-footer {
        padding: 2em 4em;
    }
}


@media (max-width: 1200px) {


    .col-md-12.init-copy-all h1 {
        color: #000;
        text-align: left;
        clear: both;
        margin-top: .25em;
        margin-bottom: .25em;
        width: 100%;
    }



    .col-md-12.init-copy-all p {
        color: #000;
        font-size: 1.25em;
        line-height: 1.65em;
        width: 100%;
    }

    .marketplace-insight {
        background-size: cover;
        overflow: hidden;
    }
}







@media (min-width: 1400px) {


    .jumbotron-hero.marketplace-insight, .jumbotron-hero.customer-experience, .jumbotron-hero.brand-experience {
        width: 1400px;
        max-width: 1400px;
        margin: 1.5em auto;
    }


    .col-md-4.icon-header p {
        font-size: 2em;
    }


    .container.hero.main {
        padding: 2em 4em 4em 4em;
    }
}



@media (max-width: 560px) {




    .col-md-12.init-content {
        padding: 0em;
        margin: 0em;
    }


    /*Hero*/

    .hero {
        margin: 0em auto;
        padding: 1em;
    }



        .hero h1 {
            color: #fff;
            font-size: 1.5em;
            font-weight: 700;
            text-transform: inherit;
        }


        .hero h3 {
            font-size: 1.5em;
            text-transform: inherit;
            font-weight: 700;
            color: #fff;
            padding: 0em;
            margin: 0em;
        }




        .hero p {
            font-size: .5em;
            text-align: center;
            color: #fff;
            padding: 1em 3em 0em 3em;
        }

    /*Hero end*/



    .icon-header-mobile p {
        width: 100%;
        padding: 0em 2em;
        font-size: 1em;
        color: #000;
        text-align: left;
    }
}



@media (max-width: 480px) {



    /*Hero*/

    .hero {
        margin: 0em auto;
        padding: 0em 1em;
    }



        .hero h1 {
            color: #fff;
            font-size: 1.5em;
            font-weight: 700;
            text-transform: inherit;
        }


        .hero h3 {
            font-size: 1.5em;
            text-transform: inherit;
            font-weight: 700;
            color: #fff;
            padding: 0em;
            margin: 0em;
        }




        .hero p {
            font-size: .5em;
            text-align: center;
            color: #fff;
            padding: 1em 3em 0em 3em;
        }


    /*Hero end*/







    .icon-header-mobile h3 {
        text-align: left;
    }



    .icon-header-mobile p {
        width: 100%;
        padding: 0em 4em;
        font-size: 1em;
        color: #000;
        text-align: left;
    }



    .col-md-12.init-content {
    }


    .col-md-12.init-content {
        position: relative;
        top: -5em;
        left: 0em;
    }

    .col-md-12.init-copy-all h1 {
        font-size: 1em;
        width: 100%;
    }

    .col-md-12.icon-header img {
        width: 30px;
        position: relative;
        top: 0em;
        left: 3em;
    }



    .col-md-12.icon-header h2 {
        font-size: 1em;
    }


    .col-md-12.init-copy-all p {
        font-size: .85em;
        padding-bottom: .5em;
    }


    .init-footer p {
        font-size: .75em;
    }



    a.navbar-brand img {
        margin: 1em;
        position: absolute;
        top: -.5em;
        left: -.5em;
    }



    a.navbar-brand img {
    }



    .jumbotron-hero.partnership {
        margin: .5em;
        padding: 1.5em;
    }


    .jumbotron-hero-copy.container h1 {
        font-size: 2em;
        text-align: left;
        color: #fff;
        width: 100%;
        padding-top: 3em;
    }



    .jumbotron-hero-copy.container p {
        font-size: 1.25em;
        text-align: left;
        color: #fff;
        width: 100%;
    }



    .jumbotron-hero.partnership h1 {
        font-size: 1.75em;
        line-height: 1.25em;
        text-align: left;
        padding: 0em .65em;
    }


    .jumbotron-hero.partnership p {
        font-size: 1.25em;
        padding: 1em;
    }





    h1.light-copy {
        padding-top: 3em;
        width: 95%;
    }

    p.light-copy {
        width: 95%;
        font-size: 1.45em;
    }

    .leatherman-hero {
    }

    a {
        text-decoration: none;
        color: #ff3333;
    }


    h2.init-h2-main {
        font-weight: 400;
        font-size: 2em;
        text-transform: inherit;
    }

    .partnership p {
        padding-bottom: 1em;
    }



    .init-columns {
        width: 100%;
        float: left;
        padding: 2em;
        border-bottom: 1px dotted silver;
    }


    .init-category {
        text-align: center;
        padding: 1em;
        font-size: 1.35em;
        color: #666;
    }


    .init-graphic {
        display: none;
    }



    .light-copy-position {
        position: relative;
        top: -500px;
        left: 0px;
    }


    .col-md-4.icon-header {
        position: relative;
        top: 3em;
    }


        .col-md-4.icon-header p {
            font-size: 1.5em;
            width: 100%;
            padding: 1em;
        }


    .col-md-8.diagram-wo img {
        padding: 0em 4em;
    }

    .icon-header-mobile h3 {
        font-size: 1em;
    }








    .col-md-12.init-content {
    }



    .col-md-12.icon-header {
        padding: 0em;
        margin: 0em;
        margin-left: -2.25em;
    }


        .col-md-12.icon-header img {
            width: 35px;
            padding-top: .25em;
            margin-right: .65em;
        }




        .col-md-12.icon-header h2 {
            top: .3em;
            left: 2.5em;
        }











    .col-md-12.init-copy-all h1 {
        font-size: 1em;
        width: 100%;
    }


    .col-md-12.init-copy-all p {
        width: 100%;
        font-size: .75em;
    }







    p img.footer-logo {
        width: 150px;
        margin: 0em auto;
        padding: 0em;
    }

    img.social {
        width: 22%;
    }



    .col-md-2.footer-logo h4 {
        font-size: 4em;
    }



    .col-md-2.footer-border h4 {
        font-size: 1em;
        font-weight: 400;
    }


    .col-md-2.footer-border p {
        font-size: .85em;
    }

    .contact-container {
        padding: 1.5em 2em;
    }

        .contact-container h1 {
            text-align: left;
            font-size: 2em;
        }

    p.contact-p {
        text-align: left;
    }

    a.btn.btn-primary.btn-sm {
        margin-top: 2em;
    }


    .jumbotron-hero-copy.container {
        padding: 0em 3em;
    }



    .row h2 {
        padding: 0em;
        margin: 0em;
    }


    div.init-columns.col-md-4.last-column {
        width: 100%;
        float: left;
        padding: 2em;
        border-bottom: none;
    }


    h1.init-main {
        line-height: 1em;
        padding-top: .85em;
        font-size: 1.5em !important;
        padding-bottom: 1.5em;
    }


    h2.init-h2-main {
        font-size: 1.5em;
        font-weight: 600;
    }


    p img.icon {
    }
}
