<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Angular JS Test</title>
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.css" />
    <script src="js/angular.min.js"></script>
  </head>
  <body ng-app="myapp">

  	<div ng-controller = "HelloController" >
    	<h2>Welcome {{helloTo.title}} to the world of Tutorialspoint!</h2>
  	</div>

  	<div ng-app = "" ng-init = "countries = [{locale:'en-US',name:'United States'}, {locale:'en-GB',name:'United Kingdom'}, {locale:'en-FR',name:'France'}]"> 
	     <p>Enter your Name: <input type = "text" ng-model = "name"></p>
	     <p>Hello <span ng-bind = "name"></span>!</p>
	     <p>List of Countries with locale:</p>
	  
	     <ol>
	        <li ng-repeat = "country in countries">
	           {{ 'Country: ' + country.name + ', Locale: ' + country.locale }}
	        </li>
	     </ol>
    </div>

    <script>
	   angular.module("myapp", []).controller("HelloController", function($scope) {
	      $scope.helloTo = {};
	      $scope.helloTo.title = "AngularJS";
	      // console.log($scope);
	   });
    </script>

  </body>
</html>